
body{
    background-color: #317757;
    color:rgb(241, 248, 241) ;
    font-size: 40px;
    padding:  30px;
}

.texto-um{
    color: #ffffff;
    font-size: 35px;

}

.texto-dois{
color: #ffffff;
font-size: 35px;
}
.paragrafo{
    font-size: 40px;
}

.rodape{
 display: grid;
    font-size: 30px;
    
}
.imagem{
    width: 30%;
    width: 30%;
}
